* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #0B0C10;
    --color-dark-gray: #1F2833;
    --color-light-gray: #C5C6C7;
    --color-light-turq: #66FCF1;
    --color-dark-turq: #45A29E;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #dadbdd;
    background-color: var(--color-light-gray);
}

.main-container {
    padding: 30px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    font-size: small;
}

.top-container {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 200px;
    display: flex;
    background-color: var(--color-dark-gray);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.description .title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px;
}

.title .your-classes {
    color: #66FCF1;
}

.logout-button {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-self: flex-start;
    background-image: url('../assets/logout-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    margin: 10px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--color-dark-gray);
}

.card-image {
    border-radius: 10px 10px 0 0;
    background-color: var(--color-dark-turq);
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-image h2 {
    color: var(--color-dark-turq);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding-top: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card p {
    overflow: auto;
    height: 120px;
    padding: 10px;
    margin: 10px 10px 20px;
}

.card a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    background-color: var(--color-light-turq);
    border-radius: 10px;
    align-self: center;
}

.card:hover {
    background-color: rgb(27, 27, 27, 0.5);
    color: #fff;
    transform: scale(1.05);
    transition: 0.5s;
}

.card .my-classes {
    background-image: url('../assets/my-classes.jpg');
}

@media screen and (max-width: 880px) {
    .top-container {
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width: 880px) {
    .logo {
        width: 100%;
        height: 300px;
    }
}

.join-class-button button {
    background-color: var(--color-light-turq);
    color: var(--color-dark-gray);
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: opacity 0.4s;
}

.join-class-button button:hover, .join-class-button select:hover {
    opacity: 0.65;
}

.join-class-button select {
    color: var(--color-dark-gray);
    background-color: var(--color-dark-turq);
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: opacity 0.4s;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    color: #fff;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    flex-direction: column;
}

.description {
    padding: 10px;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--color-black);
    color: white;
}

.modal-header {
    display: flex;
    flex-direction: row;
}

.modal-header .close {
    cursor: pointer;
    font-size: 30px;
    align-self: flex-end;
}

.modal-body button {
    height: 30px;
    width: 80px;
    align-self: center;
}

.modal-body {
    padding: 20px;
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-add-description textarea {
    width: 100%;
    height: 100%;
}

.modal-add-description h3 {
    width: 100%;
    height: 100%;
    text-align: center;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-header .close:hover, .modal-header .close:focus {
    color: red;
}