<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>InformatiX - Bun venit!</title>
</head>
<body>
    <section class="top-container">
        <a class="logout-button" href="/"></a>
        <div class="description">
            <p class="title">Bun venit pe <span class="informatix">InformatiX</span>, <span class="user"><%= user.name %></span></p>
            <div class="underline"></div>
            <p class="content">Indiferent de nivelul tău de cunoștințe, acest website este proiectat pentru a te ajuta să înveți și să te dezvolți în mod continuu. Ai acces la resurse educaționale de calitate și poți colabora cu alți elevi și profesori pentru a găsi soluții la problemele dificile.</p> 
         </div>
        <div class="logo">
        </div>
    </section>

    <section class="main-container">

        <div class="card">
            <div class="card-image problem-select">
                <h2>Selectare probleme</h2>
            </div>
            <p>Caută și rezolvă probleme specifice pentru a le trimite spre evaluare.</p>
            <a href="/problemlist">Vezi mai multe</a>
        </div>

        <div class="card">
            <div class="card-image my-classes">
                <h2>Clasele mele</h2>
            </div>
            <p>Vezi clasele la care ești înscris și accesează temele și soluțiile corespunzătoare.</p>
            <a href="/classlist">Vezi mai multe</a>
        </div>

        <div class="card">
            <div class="card-image my-account">
                <h2>Contul meu</h2>
            </div>
            <p>Modifică informațiile de cont și vezi detalii despre profilul tău.</p>
            <a href="/account">Vezi mai multe</a>
        </div>

        <div class="card">
            <div class="card-image logout">
                <h2>Delogare</h2>
            </div>
            <p> Deconectează-te de pe platformă.</p>
            <a href="/">Apasă pentru delogare</a>
        </div>
        
        <div class="card">
            <div class="card-image about">
                <h2>Despre noi</h2>
            </div>
            <p>Informații generale despre platformă și echipă (documentație în format Scholarly HTML)</p>
            <a href="/scholarly">Vezi mai multe</a>
        </div>
    
    </section>

    <section class="footer">© 2023 InformatiX. All rights reserved.</section>
</body>
</html>
