<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformatiX - vizualizare problema</title>
    <link rel="stylesheet" href="styles/problems_layout.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav" style="height: auto;">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/home" target="_self">InformatiX</a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    
        <div class="nav-links">
            <a href="/problemlist" target="_self">Probleme</a>
            <a href="/classlist" target="_self">Clasele mele</a>
            <a class="right-links logout-button-js" href="index.html" target="_self">Deconectare</a>
            <a class="right-links" href="/account" target="_self">Contul meu</a>
        </div>
    </div>

    <div class="main-container">
        <div class="tag-selector-container">
            <div class="card">
                <form action="problemlist" method="get">
                    <div class="form-group focused">
                        <label class="form-control-label">Denumirea problemei</label>
                        <input name ="problema" type="search" class="form-control form-control-alternative">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Categorie</label>
                        <br>
                        <select name="categorie" id="categorie">
                            <option value="Tot">Selecteaza categorie</option>
                            <option value="Tot">Tot</option>
                            <option value="Programare dinamica">Programare dinamica</option>
                            <option value="Algorithmi elementari">Algoritmi elementari</option>
                            <option value="Tablouri unidimensionale">Tablouri unidimensionale</option>
                            <option value="Probleme diverse">Probleme diverse</option>
                        </select>
                    </div>
                    <div class="form-group focused">
                        <label class="form-control-label">Dificultate</label>
                        <br>
                        <select name="dificultate" id="dificultate">
                            <option value="Tot">Selecteaza dificultate</option>
                            <option value="Tot">Tot</option>
                            <option value="Usor">Usor</option>
                            <option value="Mediu">Mediu</option>
                            <option value="Dificil">Dificil</option>
                        </select>
                    </div>
                    <div class="form-group focused">
                        <label class="form-control-label">Clasa</label>
                        <br>
                        <select name="clasa" id="clasa">
                            <option value="Tot">Selecteaza clasa</option>
                            <option value="Tot">Tot</option>
                            <option value="IX">IX</option>
                            <option value="X">X</option>
                            <option value="XI">XI</option>
                            <option value="XII">XII</option>
                        </select>
                    </div>
                    <hr>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Cauta</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="cards-container">
            <% for(let problem of problems) { %>
            <div class="card">

              <div class="card_details">
                
                <% for(let tag of problem.tags) { %>
                <span class="tag"><%= tag %></span>
                <% } %>

                <div class="name"><a href="<%= problem.url %>"><%= problem.title %></a></div>
                <p><%= problem.summary %></p>
              </div>
            </div>
            <% } %>
        </div> 
    </div>

    <section class="footer">© 2023 InformatiX. All rights reserved.</section>
    <script src="scripts/logout.js"></script>

</body>
</html>
