body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: var(--color-light-gray);
}

.account-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: var(--color-dark-turq);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    font-size: small;
}

.account-info-title {
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    margin: auto;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.account-info-content {
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    margin: auto;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: medium;
}

.account-info-content-row {
    display: flex;
    flex-direction: row;
    border: 50px;
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    margin: auto;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}

.account-info-content-row-title {
    width: 50%;
    height: auto;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}

.account-info-content-row-value {
    width: 50%;
    height: auto;
    background-color: var(--color-dark-gray);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}

.footer {
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    font-size: small;
}
