@import url(navbar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #dadbdd;
    background-color: var(--color-light-gray);
}

.main-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tag-selector-container {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 10px;
    background-color: var(--color-light-turq);
}

.cards-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: 10px;
    background-color: var(--color-dark-gray);
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

.tag {
    padding: 4px 8px;
    display:inline-block;
    margin: 2px;
    border: 1px solid var(--color-light-gray);

    border-radius: 50px;
    background-color: var(--color-dark-turq);
    font-size: 12px;
    font-weight: 600;
    color: var(--color-black);
}

.name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
}

.name > a {
    color: var(--color-light-turq);
    text-decoration: none;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.card_details {
  padding: 16px 8px 8px 8px;
}


.footer {
    width: 100%;
    height: auto;
    background-color: var(--color-dark-gray);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .tag-selector-container {
        align-self: center;
    }
}

