@import url(login.css);

.name-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.name-part{
    margin-top: 10px;
}

.type-wrapper{
    display: flex;
    margin-top: 15px;
}
